{% extends "policies/edit_base.html" %}
{% load i18n %}

{% block policy_edit %}
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            {% include 'policies/edit_heading.html' with policy=form.instance title="Policy issue" %}
            <div class="panel-body">
                <form method="post" id="policy_form">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                {% trans 'Client' %}
                            </th>
                            <td>
                                {% if form.instance.insured %}
                                    <a href="{% url 'clients:edit' client_id=form.instance.insured.client.id %}">
                                        {{ form.instance.insured.client }}
                                    </a>
                                {% else %}
                                    {% trans 'Not issued' %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans "Client's insured" %}
                            </th>
                            <td>
                                {% if form.instance.insured %}
                                    <a href="{% url 'clients:insured:edit' client_id=form.instance.insured.client.id insured_type=form.instance.insured.class_name insured_id=form.instance.insured.pk %}">
                                        {{ form.instance.insured }}
                                    </a>
                                {% else %}
                                    {% trans 'Not issued' %}
                                {% endif %}
                            </td>
                        </tr>
                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                    {% for error in field.errors %}
                                        $.notify('{{ field.label }}: {{ error|escape }}',
                                            {
                                                {#                                        position:"center",#}
                                                clickToHide: true,
                                                autoHide: false,
                                                arrowShow: true
                                            }
                                        );
                                    {% endfor %}
                                    });
                                </script>
                            {% endif %}
                            <tr>
                                <th>
                                    {{ field.label_tag }}
                                </th>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </table>

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                $.fn.select2.defaults.set("theme", "bootstrap");

                                var policies_select = $("#id_number");
                                policies_select.select2({
                                    width: null,
                                    {#                                containerCssClass: "form-control",#}
                                    {#                                dropdownCssClass: "form-control",#}
                                    ajax: {
                                        url: "{% url 'api-policies-list' %}",
                                        dataType: 'json',
                                        delay: 250,
                                        data: function (params) {
                                            var res = {};
                                            var term_parts = params.term.split(' ');
                                            if (term_parts.length > 1) {
                                                res['series__title'] = term_parts[0];
                                                res['number'] = term_parts[1];
                                            } else {
                                                res['number'] = term_parts[0];
                                            }

                                            return res;
                                        },
                                        processResults: function (data, params) {
                                            // parse the results into the format expected by Select2
                                            // since we are using custom formatting functions we do not need to
                                            // alter the remote JSON data, except to indicate that infinite
                                            // scrolling can be used
                                            return {
                                                results: data.data
                                            };
                                        },
                                        cache: true
                                    },
                                    escapeMarkup: function (markup) {
                                        return markup;
                                    }, // let our custom formatter work
                                    minimumInputLength: 1,
                                    templateResult: function (policy) {
                                        return [policy['series'], policy['number']].join(' - ');
                                    },
                                    templateSelection: function (policy) {
                                        return [policy['series'], policy['number']].join(' - ');
                                    }
                                }).on('select2:select', function (evt) {
                                    var url_get = "{% url 'api-policy-get' policy_id=2128506 %}";
                                    url_get = url_get.replace('2128506', $(this).val());
                                    $.ajax(url_get, {
                                        dataType: 'json',
                                        delay: 250,
                                        processResults: function (data, params) {
                                            return {
                                                results: data.data
                                            };
                                        },
                                        cache: true
                                    }).done(function (data) {
                                        console.log(data);
                                        $('#id_company').val(data.data.company);
                                        $('#id_type').val(data.data.type);
                                    });
                                    console.log('Выбран полис id ' + $(this).val());


                                    var url = '{% url 'policies:edit' policy_id=2128506 %}';
                                    url = url.replace(2128506, $(this).val()) + '?insured_id={{ form.instance.insured.id }}';
                                    $('#issue_policy_btn').removeClass('disabled').attr('href', url);
                                    $('#policy_form').attr('action', url);
                                });
                                {% if form.instance.id %}
                                    policies_select.select2("trigger", "select", {
                                        data: {
                                                "series": "{{ form.instance.series }}",
                                                "id": {{ form.instance.id }},
                                                "number": "{{ form.instance.number }}"
                                            }
                                    });
{#                                    policies_select.select2("trigger", "select");#}
                                    $('select').select2("enable", false);
                                {% endif %}
                            });
                        </script>

                        {% if form.instance and form.instance.id %}
                            <!--suppress XmlUnboundNsPrefix -->
                            <a id="delete_policy_btn" class="btn btn-danger" role="button"
                                href="{% url "policies:delete" pk=form.instance.id %}"
                            >{% trans "Delete" %}</a>
                            <!--suppress XmlUnboundNsPrefix -->
                            <a id="trash_policy_btn" class="btn btn-danger" role="button"
                               href="{% url "policies:corrupt" policy_id=form.instance.id %}"
                            >{% trans "Corrupt" %}</a>
                            <a id="cancel_policy_btn" class="btn btn-danger" role="button"
                               href="{% url "policies:cancel" policy_id=form.instance.id %}"
                            >{% trans "Cancel" %}</a>

                            <!--suppress XmlUnboundNsPrefix -->
                            <a id="prolong_policy_btn" class="btn btn-info" role="button"
                               href="{% url "policies:add" insured_type=insured_type insured_id=insured_id policy_type=form.instance.type prolong_id=form.instance.id %}"
                            >{% trans "Prolong" %}</a>
                            {% include 'policies/prolong.html' with prolong_parent=form.instance.prolong_parent prolong_child=form.instance.prolong_child %}

                            {% if form.instance.is_readonly %}
                                {% url 'utilization_act:view' act_id=form.instance.utilization_act.id as act_url %}
                                {% blocktrans with act=form.instance.utilization_act %}
                                    Policy is utilized (<a href="{{ act_url }}">act #{{ act }})</a> and can't be edited or deleted
                                {% endblocktrans %}
                            {% endif %}
                        {% else %}
                            <button type="submit" id="issue_policy_btn" class="btn btn-default">
                                {% trans 'Save' %}
                            </button>
                        {% endif %}
{#                    {% if not policy.is_readonly %}#}
{#                    {% endif %}#}
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            $( "select.disabled option:not(:selected)" ).prop('disabled',true);
                            {% if form.instance.is_readonly %}
                                $( "#issue_policy_btn" ).prop('disabled',true);
                                $( "#delete_policy_btn" ).prop('disabled',true);
                                $( "#delete_policy_btn" ).attr('disabled',true);
                                $( "#delete_policy_btn" ).removeAttr('href');
                            {% endif %}
                        });
                    </script>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
