{% extends "policies/edit_base.html" %}
{% load i18n %}

{% block policy_edit %}
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            {% include 'policies/edit_heading.html' with policy=form.instance title="Diagnostic card" %}
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                {% trans 'Client' %}
                            </th>
                            <td>
                                <a href="{% url 'clients:edit' client_id=form.instance.insured.client.id %}">
                                    {{ form.instance.insured.client }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans "Client's insured" %}
                            </th>
                            <td>
                                <a href="{% url 'clients:insured:edit' client_id=form.instance.insured.client.id insured_type=form.instance.insured.class_name insured_id=form.instance.insured.pk %}">
                                    {{ form.instance.insured }}
                                </a>
                            </td>
                        </tr>
                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        {% for error in field.errors %}
                                            $.notify('{{ field.label }}: {{ error|escape }}',
                                                {
                                                    {#                                        position:"center",#}
                                                    clickToHide: true,
                                                    autoHide: false,
                                                    arrowShow: true
                                                }
                                            );
                                        {% endfor %}
                                    });
                                </script>
                            {% endif %}
                            <tr>
                                <th>
                                    {{ field.label_tag }}
                                </th>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </table>

                    <button type="submit" class="btn btn-default">
                        {% trans 'Save' %}
                    </button>
                    {% if form.instance.id %}
                        <a class="btn btn-danger" href="{% url "policies:delete" pk=form.instance.id %}"
                           role="button">{% trans "Delete" %}</a>
                        <a id="cancel_policy_btn" class="btn btn-danger" role="button"
                           href="{% url "policies:cancel" policy_id=form.instance.id %}"
                        >{% trans "Cancel" %}</a>
                        <a id="prolong_policy_btn" class="btn btn-info" role="button"
                           href="{% url "policies:add" insured_type=insured_type insured_id=insured_id policy_type=form.instance.type prolong_id=form.instance.id %}"
                        >{% trans "Prolong" %}</a>
                        {% include 'policies/prolong.html' with prolong_parent=form.instance.prolong_parent prolong_child=form.instance.prolong_child %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
