{% load i18n %}
{% load dict_extras %}

<div class="panel-heading">
    <h3 class="panel-title pull-left">
    {% trans title as trans_title %}
    {{ trans_title }}

{#                {% if form.instance.is_readonly %}#}
{#                    {% trans 'Policy viewing' %}#}
{#                {% else %}#}
{#                {% endif %}#}
    </h3>
    <div class="pull-right">
        {{ policy.STATUSES_DICT|lookup:policy.status }}
    </div>
    <div class="clearfix"></div>
</div>
