{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr style="font-weight: bold">
            <td>{% trans 'Company' %}</td>
            <td>{% trans 'Type' %}</td>
            <td>{% trans 'Series' %}</td>
            <td>{% trans 'Number' %}</td>
            <td>{% trans 'Branch' %}</td>
            <td>{% trans 'Date issued' %}</td>
            <td>{% trans 'Act' %}</td>
            <td>{% trans 'Comment' %}</td>
        </tr>
        </thead>
        {% for policy in policies %}
            <tr class="{% ifequal policy.status policy.STATUS_ISSUED %}bg-success{% endifequal %}
                       {% ifequal policy.status policy.STATUS_CORRUPTED %}bg-danger{% endifequal %}
            ">
                <td>
                    {{ policy.company }}
                </td>
                <td>
                    {{ policy.get_type_display }}
                </td>
                <td>
                    {{ policy.series }}
                </td>
                <td>
                    <a href="{% url 'policies:edit' policy_id=policy.id %}">
                        {{ policy.number }}
                    </a>
                </td>
                <td>
                    {{ policy.act.branch }}
                </td>
                <td>
                    {{ policy.date_issued|date:'d.m.Y H:i' }}
                </td>
                <td>
                    {% if policy.import_act %}
                        <a href="{% url 'policies_import:act:view' act_id=policy.import_act.id %}">
                            {% trans 'Act' %}
                        </a>
                    {% else %}
                        -
                    {% endif %}

                </td>
                <td>
                    {{ policy.comment }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include 'pagination.html' %}

{% endblock %}
