{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr style="font-weight: bold">
            <td class="col-md-1">{% trans 'Number' %}</td>
            <td>{% trans 'Comment' %}</td>
        </tr>
        </thead>
        {% for policy in policies %}
                <td>
                    <a href="{% url 'policies:edit' policy_id=policy.id %}">
                        {{ policy.full_number }}
                    </a>
                </td>
                <td>
                    {{ policy.comment }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include 'pagination.html' %}

{% endblock %}
