{% load i18n %}

{% if prolong_parent %}
    <div class="pull-right">
        {% url 'policies:edit' policy_id=prolong_parent.pk as prolong_parent_url %}
        {% blocktrans %}
            Prolongs <a href="{{ prolong_parent_url }}">{{ prolong_parent }}</a>
        {% endblocktrans %}
    </div>
{% endif %}
{% if prolong_child.first %}
    {% with prolong_child=prolong_child.first %}
        <div class="pull-right">
            {% url 'policies:edit' policy_id=prolong_child.pk as prolong_child_url %}
            {% blocktrans %}
                Prolonged by <a href="{{ prolong_child_url }}">{{ prolong_child }}</a>
            {% endblocktrans %}
        </div>
    {% endwith %}
{% endif %}
