{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% block title %}
                        {% trans 'Trash policy' %}
                    {% endblock %}
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" id="policy_corrupt_form">
                    {% csrf_token %}

                    {% for err, err_mess in form.non_field_errors.iteritems %}
                        {{ err_mess|escape }}
                    {% endfor %}

                    <p>{{ message }}</p>
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}


                    <button type="submit" class="btn btn-success policy_corrupt_submit" data-agree="True"
                            id="policy_corrupt_submit_btn"
                    >
                            {% trans 'Corrupted' %}
                        </button>
                    <button type="submit" class="btn btn-success policy_corrupt_submit" data-agree="False">
                        {% trans 'Not corrupted' %}
                    </button>
                    <a class="btn btn-default pull-right" href="{% url "policies:edit" policy_id=policy.id %}"
                       role="button">
                        {% trans 'Return me to policy editing page' %}
                    </a>
                </form>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        $( ".policy_corrupt_submit" ).click(function( event ) {
                            $( "#id_agree" ).val($(event.target).data('agree'));
                        });
                        {% if policy.is_readonly or policy.STATUS_CORRUPTED == policy.status %}
                            $( "#policy_corrupt_submit_btn" ).addClass('hidden');
                        {% endif %}
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
