{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <div>
            <h3>Приём полисов строгой отчётности (ОСАГО).</h3>
            На вкладке "Импорт полисов" найдите акт полисов, который вы получили.
            Нажмите на него (в колонке "Дата"); в открывшемся акте вы можете посмотреть информацию
            о данной акте (дата создания, филиал назначения, полисы). Сверив её с фактически
            полученными полисами, нажмите кнопку "Подтвердить получение в филиале". После
            того, как Администратор подтвердит ваше получение, перечисленные в акте полисы появятся
            в системе и вы сможете их выдавать клиентам.
        </div>

        <div>
            <p>
                <h3>Клиенты</h3>
                На вкладке "Клиенты" перечислены все клиенты вашего филиала.
            </p>
            <p>
                <h4>Заведение нового клиента</h4>
                Для заведения нового клиента нажмите на кнопку "+" в верхнем правом углу. Укажите
                ФИО, дату рождения и, при необходимости, комментарий (он ни на что не влияет,
                используйте его по своему усмотрению). Нажмите кнопку "Сохранить".
            </p>
            <p>
                <h4>Документы</h4>
                После создания нового клиента вы можете добавить его документы, нажав на кнопку "+"
                в разделе "Документы клиента"; на данный момент вы можете создавать паспорт и
                водительское удостоверение.
            </p>

            <p>
                <h4>Объекты страхования</h4>
                Нажав на кнопку "+" в разделе "Объекты страхования", вы можете добавить объекты
                страхования: транспорт, недвижимость либо персону (если с списке персон нет требуемой,
                её надо завести как клиента).
            </p>

            <p>
                <h4>Выдача полисов</h4>
                Нажав на кнопку "+" на застрахованном объекте клиента, вы попадёте на страницу
                выдачи полиса; в поле "Объект страхования" указано страхуемое имущество либо персона.
                Укажите номер полиса (в случае полисов строгой отчётности (ОСАГО) вы можете выбрать
                только из один из импортированных), а также остальные данные и нажмите кнопку
                "Сохранить". После этого данный полис считается выданным клиенту на указанный
                объект страхования.
                Для редактирования и измения данных полиса найдите его в карте клиента и
                откройте; измените требуемые параметры и нажмите кнопку "Сохранить"; редактировать
                полисы строгой отчётности нельзя, такой полис надо удалить и выдать заново.
            </p>

        </div>

        <div>
            <p>
                <h3>Расходы</h3>
                На вкладке "Расходы" вы можете просматривать расходы вашего филиала; для уточнения
                поиска можно использовать фильтры по дате, типу расхода и филиалу, расположенные справа.
                Для внесения нового расхода нажмите кнопку "+" в правом верхнем углу таблицы расходов
                укажите его параметры и нажмите "Сохранить".
                Для редактирования расхода откройте его, измените данные и нажмите "Сохранить".
                Для удаления используйте соответствущую кнопку.


                Нажав на ФИО клиента,
                вы попадаете в его карту, где указаны все страхуемые объекты, полисы и другие данные.
            </p>
        </div>
    </div>

{% endblock %}
