{% load i18n %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block title %}
                {% trans 'Filters' %}
            {% endblock %}
        </h3>
    </div>
    <div class="panel-body">
        <form method="get">
{#            {% csrf_token %}#}

            {% for field in form %}
                {% if field.errors %}
                    <script>
                        {% for error in field.errors %}
                            document.addEventListener('DOMContentLoaded', function () {
                                $.notify('{{ error|escape }}',
                                    {
                                        clickToHide: true,
                                        autoHide: false,
                                        arrowShow: true
                                    }
                                );
                            });
                        {% endfor %}
                    </script>
                {% endif %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit"
                    class="btn btn-default">{% trans 'Filter' %}</button>
        </form>
    </div>
</div>
