{% load i18n %}
{% load static %}

{% block content %}
    <div class="col-md-10">
        {% include 'statistics/stats_table.html' %}
    </div>
    <a href="{{ url }}">Посмотреть в системе</a>
    Чтобы отписаться от рассылки, пришлите письмо на ivan.shnurchenko@gmail.com.
{% endblock %}
