{% load i18n %}
{% load dict_extras %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">{% trans 'Statistics' %}</h3>
        <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-responsive table-bordered table-condensed table-hover" border='1px'>
            <tr class="tr-header">
                <th></th>
                {% for type, data in types.items %}
                    <th>{{ data.title }}</th>
                {% endfor %}
                <th>{% trans 'Total' %}</th>
                <th>{% trans 'Expenses' %}</th>
                {% if hidden_is_visible or perms.insurance_register_app.create_hidden_expense %}
                    <th>{% trans 'Hidden expenses' %}</th>
                    <th>{% trans 'Delta' %}</th>
                {% endif %}
            </tr>

            {% with payment_types|length as row_count %}
                {% for branch_stat in statistics %}
                    {# << Branch row #}
                    <tr class="branch_statistics">
                        <td rowspan="{{ row_count }}"><b>{{ branch_stat.branch }}</b></td>
                        {# << Row with first payment type stats #}
                        {% with payment_types.0 as payment_type %}
                            {% for type in branch_stat.data %}
                                <td class="{{ type.type.name }}"
                                    title="{{ branch_stat.branch }}, {{ type.type.1 }}, {{ payment_types.0.1 }}"
                                >
                                    {% if links_in_cells %}
                                        <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'report' %}?date_from={{ date_from }}&date_to={{ date_to }}&status=ISSD&branch={{ branch_stat.branch_id }}&type={{ type.type.0 }}">
                                            {{ payment_type.1|slice:"0:1" }}
                                            {{ type.cost|lookup:payment_types.0.0|default_if_none:'' }}
                                            ({{ type.count|lookup:payment_types.0.0|default_if_none:'' }})
                                        </a>
                                    {% else %}
                                        {{ payment_type.1|slice:"0:1" }}
                                        {{ type.cost|lookup:payment_types.0.0|default_if_none:'' }}
                                        ({{ type.count|lookup:payment_types.0.0|default_if_none:'' }})
                                    {% endif %}
                                    {% if type.prolonged_count %}
                                        <span style="font-style:italic" title="{% trans 'Prolonged' %}">
                                            {{ type.prolonged_cost }}
                                            ({{ type.prolonged_count }})
                                        </span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td title="{{ branch_stat.branch }}, {{ payment_type.1 }}, {% trans 'total' %}"
                                class="total"
                            >
                                {% if links_in_cells %}
                                    <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'report' %}?date_from={{ date_from }}&date_to={{ date_to }}&status=ISSD&branch={{ branch_stat.branch_id }}">
                                        {{ branch_stat.total.cost|lookup:payment_type.0 }}
                                        ({{ branch_stat.total.count|lookup:payment_type.0 }})
                                    </a>
                                {% else %}
                                        {{ branch_stat.total.cost|lookup:payment_type.0 }}
                                        ({{ branch_stat.total.count|lookup:payment_type.0 }})
                                {% endif %}
                                {% if branch_stat.total.prolonged_count %}
                                    <span style="font-style:italic" title="{% trans 'Prolonged' %}">
                                        {{ branch_stat.total.prolonged_cost }}
                                        ({{ branch_stat.total.prolonged_count }})
                                    </span>
                                {% endif %}
                            </td>

                            <td title="{{ branch_stat.branch }}, {% trans 'expense' %}"
                                class="expense" rowspan="{{ row_count }}"
                            >
                                {% if links_in_cells %}
                                    <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'expenses:list' %}?date_from={{ date_from }}&date_to={{ date_to }}&branch={{ branch_stat.branch_id }}">
                                        {{ branch_stat.expense }}
                                    </a>
                                {% else %}
                                        {{ branch_stat.expense }}
                                {% endif %}
                            </td>
                            {% if hidden_is_visible or perms.insurance_register_app.create_hidden_expense %}
                                <td title="{{ branch_stat.branch }}, {% trans 'hidden expense' %}"
                                    class="expense" rowspan="{{ row_count }}"
                                >
                                    {% if links_in_cells %}
                                        <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'expenses:list' %}?date_from={{ date_from }}&date_to={{ date_to }}&branch={{ branch_stat.branch_id }}&visibility=1">
                                            {{ branch_stat.hidden }}
                                        </a>
                                    {% else %}
                                            {{ branch_stat.hidden }}
                                    {% endif %}
                                </td>
                                <td title="{% trans 'Delta' %}" rowspan="{{ row_count }}">
                                    {{ branch_stat.delta }}
                                </td>
                            {% endif %}
                        {% endwith %}
                        {# >> Row with first payment type stats #}
                    </tr>
                    {# >> Branch row #}
                    {# << Rows for all payment types after first one #}
                    {% for payment_type in payment_types|slice:"1:" %}
                        <tr class="tr-payment-type">
                            {% for type in branch_stat.data %}
                                <td class="{{ type.type.name }}"
                                    title="{{ branch_stat.branch }}, {{ type.type.1 }}, {{ payment_type.1 }}"
                                >
                                    {% if links_in_cells %}
                                        <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'report' %}?date_from={{ date_from }}&date_to={{ date_to }}&status=ISSD&branch={{ branch_stat.branch_id }}&type={{ type.type.0 }}&payment_type={{ payment_type.0 }}">
                                            {{ payment_type.1|slice:"0:1" }}
                                            {{ type.cost|lookup:payment_type.0|default_if_none:'' }}
                                            ({{ type.count|lookup:payment_type.0|default_if_none:'' }})
                                        </a>
                                    {% else %}
                                        {{ payment_type.1|slice:"0:1" }}
                                        {{ type.cost|lookup:payment_type.0|default_if_none:'' }}
                                        ({{ type.count|lookup:payment_type.0|default_if_none:'' }})
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td title="{{ branch_stat.branch }}, {{ payment_type.1 }},{% trans 'total' %}"
                                class="total"
                            >
                                    {% if links_in_cells %}
                                        <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'report' %}?date_from={{ date_from }}&date_to={{ date_to }}&status=ISSD&payment_type={{ payment_type.0 }}&branch={{ branch_stat.branch_id }}">
                                            {{ branch_stat.total.cost|lookup:payment_type.0 }}
                                            ({{ branch_stat.total.count|lookup:payment_type.0 }})
                                        </a>
                                    {% else %}
                                        {{ branch_stat.total.cost|lookup:payment_type.0 }}
                                        ({{ branch_stat.total.count|lookup:payment_type.0 }})
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {# >> Rows for all payment types after first one #}
                {% endfor %}
            {% endwith %}
            <tr class="tr-total" style="font-weight: bold">
                <td rowspan="{{ payment_types|length }}">
                    <b>{% trans 'Total' %}</b>
                </td>
                {% with payment_types.0 as payment_type %}
                    {% for type, data in types.items %}
                        <td class="footer-row-first" title="{{ data.title }}, {{ payment_type.1 }}"
{#                            rowspan="{{ payment_types|length }}"#}
                        >
                            {% if links_in_cells %}
                                <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'report' %}?date_from={{ date_from }}&date_to={{ date_to }}&status=ISSD&type={{ type }}">
                                    {{ data.total|lookup:payment_type.0|lookup:'cost' }}
                                    ({{ data.total|lookup:payment_type.0|lookup:'count' }})
                                </a>
                            {% else %}
                                {{ data.total|lookup:payment_type.0|lookup:'cost' }}
                                ({{ data.total|lookup:payment_type.0|lookup:'count' }})
                            {% endif %}
                            {% if data.total_prolonged_count %}
                                <span style="font-style:italic" title="{% trans 'Prolonged' %}">
                                    {{ data.total_prolonged_cost }}
                                    ({{ data.total_prolonged_count }})
                                </span>
                            {% endif %}
                        </td>
                    {% endfor %}
                {% endwith %}

                <td class="success"
                    title="{% trans 'Cost' %}, {% trans 'total' %}">
                    {{ total_cost }} ({{ total_count }})
                    {% if total_prolonged_count %}
                        <span style="font-style:italic" title="{% trans 'Prolonged' %}">
                            {{ total_prolonged_cost }}
                            ({{ total_prolonged_count }})
                        </span>
                    {% endif %}
                </td>
                <td class="danger"
                    title="{% trans 'Expenses' %}, {% trans 'total' %}">
                    {{ expenses_total }}
                </td>
                {% if hidden_is_visible or perms.insurance_register_app.create_hidden_expense %}
                    <td class="danger"
                        title="{% trans 'Hidden expenses' %}, {% trans 'total' %}">
                        {{ hidden_total }}
                    </td>
                    <td title="{% trans 'Delta' %}, {% trans 'total' %}">
                        {{ total_delta }}
                    </td>
                {% endif %}
            </tr>
            {% for payment_type in payment_types|slice:"1:" %}
                <tr style="font-weight: bold">
                {% for type, data in types.items %}
                    <td class="footer-rows" title="{{ data.title }}, {{ payment_type.1 }}, {% trans 'Total' %}">
                        {% if links_in_cells %}
                            <a href="{{ request.scheme|default:'http' }}://{{ host }}{% url 'report' %}?date_from={{ date_from }}&date_to={{ date_to }}&status=ISSD&type={{ type }}&payment_type={{ payment_type.0 }}">
                                {{ data.total|lookup:payment_type.0|lookup:'cost' }}
                                ({{ data.total|lookup:payment_type.0|lookup:'count' }})
                            </a>
                        {% else %}
                            {{ data.total|lookup:payment_type.0|lookup:'cost' }}
                            ({{ data.total|lookup:payment_type.0|lookup:'count' }})
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <script !src="">
        document.addEventListener('DOMContentLoaded', function () {
            $(".expense").css('fontWeight', 'bold');
            $(".total").css('fontWeight', 'bold');
        });
    </script>
</div>
