{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-10">
        {% include 'statistics/stats_table.html' %}
    </div>

    <div class="col-md-2">
        {% include 'statistics/list_form.html' with form=form %}
    </div>
{% endblock %}
