{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">{% trans 'Utilization acts history' %}</h3>

                <a id="act_add_btn" class="btn btn-default pull-right">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table id="act_list" class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr style="font-weight: bold">
                        <td>
                            <input type="checkbox" id="policy_checkbox_switcher" title="All">
                        </td>
                        <td>{% trans 'Creation date' %}</td>
                        <td>{% trans 'Editing date' %}</td>
                        <td>{% trans 'Number' %}</td>
                        <td>{% trans 'Policies count' %}</td>
                        <td>{% trans 'Delete' %}</td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for act in acts %}
                            <tr data-act-id="{{ act.pk }}"
                                {% if act.attached_acts.all %}style="font-weight: bold"{% endif %}
                            >
                                <td><input type="checkbox" class="act_checkbox" title="Check this act"></td>
                                <td>{{ act.created_at }}</td>
                                <td>{{ act.edited_at }}</td>
                                <td class="col-md-1">
                                    <a href="{% url 'utilization_act:view' act_id=act.id %}">
                                        {{ act.pk }}
                                    </a>
                                </td>
                                <td class="col-md-1">{{ act.policies_count }}</td>
                                <td>
                                    {% with perms.insurance_register_app.delete_utilizationact as granted %}
                                        <button class="btn btn-default act-delete-btn" data-act-id="{{ act.pk }}" {{ granted|yesno:",disabled" }}>
                                            <span class="fa fa-remove"></span>
                                        </button>
                                    {% endwith %}

                                    {#                                <a class="btn btn-default delete-act-btn" data-act-id="{{ act.pk }}">#}
                                    {#                                    <i class="fa fa-remove" aria-hidden="true"></i>#}
                                    {#                                </a>#}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <div class="form-inline">
                        <button id="attach_to_utilization_act_btn" class="btn btn-default">{% trans 'Attach selected to act № ' %}</button>
                        <div class="form-group ">
                            <select id="utilization_act_select" class="form-control" title="{% trans 'Utilization act' %}">
                            </select>
                        </div>
                        <script></script>
                    </div>
                </div>

                <script>
                    var delete_acts = function () {
                        $(".act-delete-btn").click(function (e) {
                            var act_id = this.dataset.actId;
                            var url = "{% url 'utilization_act:delete' act_id=2128506 %}";
                            url = url.replace(2128506, act_id);

                            $.ajax({
                                url: url,
                                dataType: 'json',
                                delay: 250,
                                method: 'POST',
                                cache: true
                            }).done(function (data) {
                                if ('ok' == data.status) {
                                    window.location.replace("{% url 'utilization_act:list' %}");
                                } else {
                                    $.notify('Произошла ошибка во время удаления акта: ' + data['message'],
                                        {
                                            clickToHide: true,
                                            autoHide: false,
                                            arrowShow: true
                                        }
                                    );

                                }
                            });

                        });
                    };
                    var add_act = function () {
                        $("#act_add_btn").click(function (e) {
                            $.ajax({
                                url: "{% url 'utilization_act:add' %}",
                                dataType: 'json',
                                delay: 250,
                                method: 'POST',
                                cache: true
                            }).done(function (data) {
                                if ('ok' == data.status) {
                                    window.location.replace("{% url 'utilization_act:list' %}");
                                } else {
                                    $.notify('Произошла ошибка во время удаления акта: ' + data['message'],
                                        {
                                            clickToHide: true,
                                            autoHide: false,
                                            arrowShow: true
                                        }
                                    );

                                }
                            });

                        });
                    };
                    var get_checked = function () {
                        var list = {};
                        var i = 0;
                        $.each($('#act_list tbody tr input.act_checkbox:checked'), function (idx, item) {
                            list[i++] = $(item).parents('tr').data('act-id');
                        });
                        console.log('Отмечены: ' + list);

                        return list;
                    };
                    var utilization_act_select_change = function () {
                        $.fn.select2.defaults.set("theme", "bootstrap");
                        var acts_select = $("#utilization_act_select");

                        acts_select.select2({
                            {#                        width: null,#}
                            placeholder: "{% trans 'Select an option' %}",
                            allowClear: true,
                            width: 200,
                            ajax: {
                                url: "{% url 'api-utilization-acts-list' %}",
                                dataType: 'json',
                                delay: 250,
                                method: 'post',
                                data: function (params) {
                                    var res = JSON.stringify({
                                        'act_id': params.term,
                                        'exclude': get_checked()
                                    });

                                    return res;
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: data.data
                                    };
                                },
                                cache: true
                            },
                            {#                        escapeMarkup: function (markup) {#}
                            {#                            return markup;#}
                            {#                        },#}
                            {#                        minimumInputLength: 1,#}
                            templateResult: function (act) {
                                return act['id'];
                            },
                            templateSelection: function (act) {
                                return act['id'];
                            }
                        }).on('select2:select', function (evt) {
                            console.log('Выбран акт id ' + $(this).val());
                        });
                    };
                    var attach_to_utilization_act = function (e) {
                        $('#attach_to_utilization_act_btn').click(function (e) {
                            var url = '{% url 'api-utilization-act-edit' %}';
                            var act_id = $('#utilization_act_select').val();
                            var attachments = get_checked();
                            if ($.isEmptyObject(attachments)) {
                                $.notify('Пожалуйста, укажите пункты, которые вы хотите прикрепить к акту',
                                    {
                                        className: 'error',
                                        clickToHide: true,
                                        autoHide: false,
                                        arrowShow: true
                                    }
                                );
                                return;
                            }

                            var data = JSON.stringify({
                                'acts': attachments,
                                'act_id': act_id
                            });

                            $.ajax({
                                url: url,
                                dataType: 'json',
                                data: data,
                                delay: 250,
                                type: 'POST',
                                cache: true
                            }).done(function (data) {
                                var className = 'error';
                                if ('ok' == data.status) {
                                    className = 'success';
                                }
                                $.notify(data.message,
                                    {
                                        className: className,
                                        clickToHide: true,
                                        autoHide: false,
                                        arrowShow: true
                                    }
                                );
                            });
                        });
                    };

                    document.addEventListener('DOMContentLoaded', function () {
                        delete_acts();
                        add_act();
                        attach_to_utilization_act();
                        utilization_act_select_change();
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
