{% load i18n %}

{% block title %}
    {% blocktrans trimmed with act_pk=act.pk %}
        Utilization act #{{ act_pk }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <table border="1px">
        <tr>
            <th>{% trans 'Full number' %}</th>
            <th>{% trans 'Client' %}</th>
            <th>{% trans 'Insured' %}</th>
            <th>{% trans 'Cost' %}</th>
        </tr>
        {% for policy in policies %}
            <tr>
                <td>{{ policy.full_number }}</td>
                <td>{{ policy.insured.client }}</td>
                <td>{{ policy.insured }}</td>
                <td align="right">{{ policy.cost }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="right">
                {% blocktrans with count=act.policies_count %}
                    Total count {{ count }}
                {% endblocktrans %}
            </td>
            <td align="right">
                {% blocktrans with cost=act.policies_cost %}
                    Total cost {{ cost }}
                {% endblocktrans %}
            </td>
        </tr>
    </table>

{% endblock %}
