{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans with act_pk=act.pk %}Utilization act #{{ act_pk }}{% endblocktrans %}
{% endblock %}


{% block content %}
    <!-- Policies import history -->
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% blocktrans with act_pk=act.pk %}Utilization act #{{ act_pk }}{% endblocktrans %}
                </h3>
            </div>
            <div class="panel-body">
                <div class="acts_list">
                    <ul class="list-group">
                        {% for child_act in act.attached_acts.all %}
                            <li class="list-group-item">
                                <a href="{% url 'utilization_act:view' act_id=child_act.pk  %}">
                                    {{ child_act }} ({{ child_act.edited_at }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr style="font-weight: bold">
                        <td class="col-md-2">{% trans 'Full number' %}</td>
                        <td class="col-md-3">{% trans 'Client' %}</td>
                        <td>{% trans "Client's insured" %}</td>
                        <td class="col-md-1">{% trans 'Cost' %}</td>
                    </tr>
                    </thead>
                    {% for policy in act.policies_all %}
                        <tr class="
                            {% ifequal policy.status policy.STATUS_ISSUED %}bg-success{% endifequal %}
                            {% ifequal policy.status policy.STATUS_CORRUPTED %}bg-danger{% endifequal %}
                        ">
                            <td>{{ policy.full_number }}</td>
                            <td>{{ policy.client.full_name }}</td>
                            <td>{{ policy.insured|default_if_none:'' }}</td>
                            <td>{{ policy.cost|default_if_none:'&nbsp;' }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <a target="_blank" role="button" class="btn btn-default"
                   href="{% url 'utilization_act:print' act_id=act.id  %}">
                    {% trans 'Print' %}
                </a>

                <div class="pull-right">
                    {% blocktrans with act.policies_cost|floatformat:2 as total_formated %}
                        <h4>Total {{ total_formated }} roubles</h4>
                    {% endblocktrans %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
