{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <form id="insured_form" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            {% for error in field.errors %}
                                $.notify('{{ field.label }}: {{ error|escape }}',
                                    {
{#                                        position:"center",#}
                                        clickToHide: true,
                                        autoHide: false,
                                        arrowShow: true
                                    }
                                );
                            {% endfor %}
                        });
                    </script>
                {% endif %}

                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">
                {% trans 'Save' %}
            </button>
            {% if insured.id %}
                <a id="delete_insured_btn" type="button" class="btn btn-danger pull-right">
                    {% trans 'Delete' %}
                </a>
                <script>
                    var delete_insured = function (e) {
                        var del_url = "{% url 'clients:insured:delete' client_id=insured.client.id insured_type=insured.class_name insured_id=insured.pk %}";
                        var insuredForm = $("#insured_form");
                        insuredForm.attr('action', del_url);
                        insuredForm.submit();
                    };
                    document.addEventListener('DOMContentLoaded', function () {
                        $("#delete_insured_btn").click(delete_insured);
                    });
                </script>
            {% endif %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    $( "select.disabled option:not(:selected)" ).prop('disabled',true);
                });
            </script>
        </form>
    </div>
{% endblock %}
