{% load i18n %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">{% trans "Client insureds" %}</h3>
        <!-- Single button -->
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="caret"></span>
            </button>
            <ul id="add_insured_select" class="dropdown-menu">
                {% for type in client.available_insured_types %}
                    <li>
                        <a href="{% url 'clients:insured:edit' client_id=client.id insured_type=type.class_name %}">
                            {{ type.verbose_name|capfirst }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table table-bordered table-responsive">
        {% for item in insured %}
            <tr>
{#                <td class="col-md-1">#}
                <td class="">
                    {{ item.verbose_name|capfirst }}
                </td>
                <td>
                    <a href="{% url 'clients:insured:edit' client_id=client.id insured_type=item.class_name insured_id=item.pk %}">
                        {{ item }}
                    </a>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for code, verbose in item.policy_types %}
                                <li>
                                    <a
                                       href="{% url 'policies:add' insured_type=item.class_name insured_id=item.pk policy_type=code %}"
                                    >
                                        {{ verbose }}
{#                                        <i class="fa fa-plus" aria-hidden="true"></i>#}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>


                </td>
            </tr>
        {% endfor %}
    </table>
</div>
