.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
.clickable {
    color: #428bca;
    cursor: pointer;
    text-decoration: underline;
}

.navbar-brand {
    padding: 0;
}
.navbar-brand>img {
    /*height: 100%;*/
    padding: 0;
    /*width: auto;*/
}

.invoice {
    background-color: #bbccdd;
}