{% load i18n %}

<table class="table table-bordered">
    <tr>
        <td>{% trans 'Company' %}</td>
        <td>{% trans 'Type' %}</td>
        <th>{% trans 'Series' %}</th>
        <th>{% trans 'Number' %}</th>
        <th>{% trans 'Comment' %}</th>
    </tr>
    {% for policy in policies %}
        <tr>
            <td>{{ policy.company }}</td>
            <td>{{ policy.get_type_display }}</td>
            <td>{{ policy.series|default_if_none:'' }}</td>
            <td>{{ policy.number }}</td>
            <td>{{ policy.comment }}</td>
            <td>
                <a href="{% url 'policies:edit' policy_id=policy.pk %}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
