{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <!-- Policies import history -->
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Policies import history' %}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr style="font-weight: bold">
                        <td>{% trans 'Date' %}</td>
                        <td>{% trans 'Branch' %}</td>
                        <td>{% trans 'Company' %}</td>
                        <td>{% trans 'Series' %}</td>
                        <td>{% trans 'First policy number' %}</td>
                        <td>{% trans 'Last policy number' %}</td>
                        <td>{% trans 'Status' %}</td>
                        <td>{% trans 'Comment' %}</td>
                    </tr>
                    </thead>
                    {% for act in policies_import_acts_list %}
                        <tr class="act_row" data-act-status="{{ act.status|lower }}">
                            <td>
                                <a href="{% url 'policies_import:act:view' act_id=act.id %}">
                                    {{ act.edited_at }}
                                </a>
                            </td>
                            <td>{{ act.branch }}</td>
                            <td>{{ act.company }}</td>
                            <td>{{ act.series }}</td>
                            <td>{{ act.first_policy_number }}</td>
                            <td>{{ act.last_policy_number }}</td>
                            <td>{{ act.get_status_display }}</td>
                            <td>{{ act.comment }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var statuses = {
                            'conf_delv': 'bg-success',
                            'new': 'bg-info'
                        };
                        $('.act_row').each(function (idx, row) {
                            row.classList.add(statuses[row.dataset['actStatus']])
                        });
                    });
                </script>
            </div>
        </div>

        {% include 'pagination.html' %}

    </div>


    <!-- Policies import form -->
    <div class="col-md-3">
        {% if perms.insurance_register_app.import_policies_act_print %}
            {% include 'policies_import/act/form.html' with policies_import_form=policies_import_form message=message %}
        {% endif %}

    </div>


{% endblock %}
