{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            {% for error in field.errors %}
                                $.notify('{{ field.label }}: {{ error|escape }}',
                                    {
                                        {#                                        position:"center",#}
                                        clickToHide: true,
                                        autoHide: false,
                                        arrowShow: true
                                    }
                                );
                            {% endfor %}
                        });
                    </script>
                {% endif %}

                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">
                {% trans 'Save' %}
            </button>
            {% if paper.id %}
                <a href="{% url 'clients:papers:delete' paper_id=paper.id client_id=paper.client.id %}"
                   type="button" class="btn btn-danger pull-right">
                    {% trans 'Delete' %}
                </a>
            {% endif %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    $( "select.disabled option:not(:selected)" ).prop('disabled',true);
                });
            </script>
        </form>
    </div>
{% endblock %}
