{% load i18n %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">{% trans 'Client papers' %}</h3>
        <!-- Single button -->
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for type in papers.model.TYPES %}
                    <li><a href="{% url 'clients:papers:edit' client_id=client.id %}?type={{ type.0 }}">{{ type.1 }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Full number' %}</th>
            <th>{% trans 'Comment' %}</th>
        </tr>
        {% for paper in papers %}
            <tr>
                <td>{{ paper.get_type_display }}</td>
                <td>
                    <a href="{% url 'clients:papers:edit' client_id=client.id paper_id=paper.id %}">
                        {{ paper.full_number }}
                    </a>
                </td>
                <td>{{ paper.comment }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
