{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% block title %}
                        {% trans 'Delete expanse' %}
                    {% endblock %}
                </h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    {% if message %}
                        <div class="bg-info">{{ message }}</div>
                    {% endif %}
                    {% for err, err_mess in form.non_field_errors.iteritems %}
                        {{ err_mess|escape }}
                    {% endfor %}

                    <p>{% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>

                    <button type="submit"
                            class="btn btn-success">{% trans 'Yes, delete' %}</button>
                    <a class="btn btn-default" href="{% url "expenses:edit" pk=object.id %}"
                       role="button">
                        {% trans 'No, return me edit page' %}
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
