{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="col-md-offset-2 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">{% trans 'Expenses' %}</h3>

                <a class="btn btn-default pull-right"
                   href="{% url 'expenses:add' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>

                <div class="clearfix"></div>
            </div>

            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr style="font-weight: bold">
                    <td>{% trans '#' %}</td>
                    <td class="col-md-2">{% trans 'Branch' %}</td>
                    <td class="col-md-4">{% trans 'Type' %}</td>
                    <td class="col-md-1">{% trans 'Cost' %}</td>
                    <td>{% trans 'Editing date' %}</td>
                    <td>{% trans 'Comment' %}</td>
                </tr>
                </thead>
                {% for expense in expenses %}
                    <tr {% if expense.hidden %}class="bg-warning"{% endif %}>
                        <td>
                            {{ forloop.counter0|add:page_obj.start_index }}
                        </td>
                        <td>
                            {{ expense.branch }}
                        </td>
                        <td>
                            {{ expense.type }}
                        </td>
                        <td>
                            <a href="{% url 'expenses:edit' pk=expense.id %}">{{ expense.cost }}</a>
                        </td>
                        <td>
                            {{ expense.edited_at }}
                        </td>
                        <td>
                            {{ expense.comment }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'pagination.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <span class="text-center">
            <h2>
                {% blocktrans %}Total {{ cost }}₽{% endblocktrans %}
            </h2>
        </span>
        {% include 'expenses/list_form.html' with form=form %}
    </div>



{% endblock %}
