{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% block title %}
                        {% if object.id %}
                            {% trans 'Edit vehicle brand' %}
                        {% else %}
                            {% trans 'Add vehicle brand' %}
                        {% endif %}
                    {% endblock %}
                </h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    {% if message %}
                        <div class="bg-info">{{ message }}</div>
                    {% endif %}
                    {% for err, err_mess in form.non_field_errors.iteritems %}
                        {{ err_mess|escape }}
                    {% endfor %}

                    {% for field in form %}
                        {% if field.errors %}
                            <script>
                                {% for error in field.errors %}
                                    document.addEventListener('DOMContentLoaded', function () {
                                        $.notify('{{ error|escape }}',
                                            {
                                                clickToHide: true,
                                                autoHide: false,
                                                arrowShow: true
                                            }
                                        );
                                    });
                                {% endfor %}
                            </script>
                        {% endif %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit"
                            class="btn btn-success">{% trans 'Submit' %}</button>
                    {% if object %}
                        <a class="btn btn-danger" href="{% url "vehicle_brands:delete" pk=form.instance.id %}"
                           role="button">{% trans "Delete" %}</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
