{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="col-md-offset-2 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">{% trans 'Vehicles brands' %}</h3>

                <a class="btn btn-default pull-right"
                   href="{% url 'vehicle_brands:add' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>

                <div class="clearfix"></div>
            </div>

            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr style="font-weight: bold">
                    <td class="col-md-1">{% trans '#' %}</td>
                    <td>{% trans 'Title' %}</td>
                    <td>&NonBreakingSpace;</td>
                </tr>
                </thead>
                {% for brand in brands %}
                    <tr>
                        <td>
                            {{ forloop.counter0|add:page_obj.start_index }}
                        </td>
                        <td>
                            {{ brand.title }}
                        </td>
                        <td>
                            <a href="{% url 'vehicle_brands:edit' pk=brand.pk %}">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'pagination.html' %}
        </div>
    </div>

{% endblock %}
