{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
        <link rel="stylesheet" href="{% static 'css/select2.css' %}" />
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap.css' %}" />
    {% else %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}" />
    {% endif %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>
        {% block title %}
            {{ title|default:"Учётная система" }} | каскОсаго
        {% endblock %}
    </title>
</head>

<body>
    <div id="nav">
{#        {% block header %}#}
{#        <a href="{% url 'index' %}">{% trans "Home" %}</a> |#}
{##}
{#        {% if user.is_authenticated %}#}
{#            {% trans "Logged in" %}: {{ user.username }}#}
{#            <a href="{% url 'logout' %}">{% trans "Log out" %}</a>#}
    {#        <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>)#}
{#        {% else %}#}
{#           <a href="{% url 'login' %}">{% trans "Log in" %}</a>#}
{#        {% endif %}#}
{#        <hr />#}
{#        {% endblock %}#}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img class="brang-logo" src="{% static 'img/logo.png' %}"
                             alt="Dispute Bills">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% for menu_item in menu %}
                            <li
                                {% if 'class' in menu_item %}
                                    class="{{ menu_item.class }}"
                                {% endif %}
                                {% if 'id' in menu_item %}
                                    id="{{ menu_item.id }}"
                                {% endif %}
                            >
                                <a href="{% url menu_item.url %}">
                                    {{ menu_item.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li title="{{ user.branch }}, id={{ user.id }}"><a>{{ user.name }}</a></li>
                            <li>
                                <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>


    {% block header %}
        <!-- Header block -->
    {% endblock %}


    <div id="content">
        <div class="container-fluid">
            {% block content %}Content block{% endblock %}
        </div>
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>

    {% if debug %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/datepicker.js' %}"></script>
        <script src="{% static 'js/notify.js' %}"></script>
        <script src="{% static 'js/select2.full.js' %}"></script>
        <script src="{% static 'js/jquery.maskedinput.js' %}"></script>
    {% else %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/datepicker.min.js' %}"></script>
        <script src="{% static 'js/notify.min.js' %}"></script>
        <script src="{% static 'js/select2.full.min.js' %}"></script>
        <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/i18n/ru.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var csrftoken = Cookies.get('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();
        document.addEventListener('DOMContentLoaded', function () {
            var title_item = $('#important_policies_list').children().first();
            var title = title_item.text();
            var tooltip = "{% trans 'Last seen importants on ' %}";
            var check_unseen_importants = function () {
                $.ajax("{% url 'api-unseen-important-policies-list' %}", {
                    method: 'post',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        console.log(params);
                    },
                    cache: true
                }).done(function(data) {
                    var count = data.data && data.data.count ? data.data.count : 0;
                    if (count) {
                        tooltip += data.data.datetime_str;
                        title_item.html(title + ' <span class="label label-danger" title="' + tooltip + '">' + count + '</span>');
                    }
                    delay(check_unseen_importants, 15*60*1000 );
                });
            };
            check_unseen_importants();
        });
    </script>

</body>

</html>
