{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <ul class="nav nav-tabs">
    {% for tab in tabs %}
        <li><a data-toggle="tab" href="{% url tab.name %}">{{ tab.title }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
