{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="col-md-9">
        <table id="invoices_table" class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="font-weight: bold">
                <td class="col-md-1">&NonBreakingSpace;</td>
                <td class="col-md-2">{% trans 'Full number' %}</td>
                <td class="col-md-3">{% trans 'Client' %}</td>
                <td class="col-md-1">{% trans 'Cost' %}</td>
                <td>{% trans "Purpose" %}</td>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr class="{% ifequal invoice.policy.status invoice.policy.STATUS_ISSUED %}bg-success{% endifequal %}
                           {% ifequal invoice.policy.status invoice.policy.STATUS_CORRUPTED %}bg-danger{% endifequal %}
                " data-invoice-id="{{ invoice.pk }}">
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'policies:edit' policy_id=invoice.policy.id %}">
                            {{ invoice.number }}
                        </a>
                    </td>
                    <td>
                        {{ invoice.policy.insured.client.full_name }}
                    </td>
                    <td>
                        {{ invoice.policy.cost|default_if_none:'&nbsp;' }}
                    </td>
                    <td>
                        {{ invoice.purpose|default_if_none:'' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'pagination.html' %}
    </div>

    <div class="col-md-3">
        <form method="get" class="form-horizontal">
{#            {% csrf_token %}#}
            {{ form.non_field_errors }}

            {% for field in form %}
                {% if not field.is_hidden %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <button type="submit"
                    class="btn btn-default">{% trans 'Make report' %}</button>

        </form>
    </div>

{% endblock %}
