{% load static %}
{% load i18n %}
{% if is_paginated %}
    <nav aria-label="{% trans 'Page navigation' %}">
        <ul class="pagination">
            {% if page_obj.number > 1 %}
                <li class="pagination-btn clickable">
                    <span aria-hidden="true" data-page="1">
                        «
                    </span>
                </li>
                {% if page_obj.has_previous %}
                    <li class="pagination-btn clickable">
                        <span aria-hidden="true" data-page="{{ page_obj.previous_page_number }}">
                            ‹
                        </span>
                    </li>
                {% endif %}
            {% endif %}

            <li>
                <span aria-hidden="true">
                    {{ page_obj.number }}
                </span>
            </li>

            {% if page_obj.number < page_obj.paginator.num_pages %}
                {% if page_obj.has_next %}
                    <li class="pagination-btn clickable">
                        <span aria-hidden="true" data-page="{{ page_obj.next_page_number }}">
                            ›
                        </span>
                    </li>
                {% endif %}
                <li class="pagination-btn clickable">
                    <span aria-hidden="true" data-page="{{ page_obj.paginator.num_pages }}">
                        »
                    </span>
                </li>
            {% endif %}
        </ul>
        <script src="{% static 'js/helper.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var btns = document.getElementsByClassName('pagination-btn');
                for (var i = 0; i < btns.length; i++) {
                    btns[i].onclick = function () {
                        var page_num = this.getElementsByTagName('span')[0].dataset.page;
                        window.location.href = Helper.addParamsToUrl(window.location.href, {'page': page_num});
                    };
                    // // Mark current page
                    // if (i == ({{ page_obj.number }}) - 1) {
                    //     btns[i].classList.add('active');
                    // } else {
                    //     // And make any other "clickable"
                    //     btns[i].style.color = '#428bca';
                    //     btns[i].style.cursor = 'pointer';
                    //     btns[i].style.textDecoration = 'underline';
                    // }
                }
            });
        </script>
    </nav>
{% endif %}
