{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="col-md-9">
        <table id="policies_table" class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="font-weight: bold">
                {#            <td>{% trans 'Branch' %}</td>#}
                {#            <td>{% trans 'Date issued' %}</td>#}
                {#            <td>{% trans 'Type' %}</td>#}
                <td>&NonBreakingSpace;</td>
                <td>
                    <input type="checkbox" id="policy_checkbox_switcher" title="All">
                </td>
                <td class="col-md-2">{% trans 'Full number' %}</td>
                <td class="col-md-3">{% trans 'Client' %}</td>
                <td>{% trans "Client's insured" %}</td>
                <td>{% trans "Date issued" %}</td>
                {#            <td>{% trans 'Vehicle tag' %}</td>#}
                <td class="col-md-1">{% trans 'Cost' %}</td>
            </tr>
            </thead>
            <tbody>
            {% for policy in policies %}
                <tr class="{% ifequal policy.status policy.STATUS_ISSUED %}bg-success{% endifequal %}
                           {% ifequal policy.status policy.STATUS_CORRUPTED %}bg-danger{% endifequal %}
                " data-policy-id="{{ policy.pk }}">
                    <td>{{ forloop.counter }}</td>
                    <td><input type="checkbox" class="policy_checkbox" title="Check this policy"></td>
                    <td>
                        <a href="{% url 'policies:edit' policy_id=policy.id %}">
                            {{ policy.full_number }}
                        </a>
                    </td>
                    <td>
                        {{ policy.insured.client.full_name }}
                    </td>
                    <td>
                        {{ policy.insured|default_if_none:'' }}
                    </td>
                    <td>
                        {{ policy.date_issued|default_if_none:'' }}
                    </td>
                    <td>
                        {{ policy.cost|default_if_none:'&nbsp;' }}
                    </td>

                    {#                <td>#}
                    {#                    {{ policy.act.branch }}#}
                    {#                </td>#}
                    {#                <td>#}
                    {#                    {{ policy.date_issued|date:'d.m.Y H:i' }}#}
                    {#                </td>#}
                    {#                <td>#}
                    {#                    {{ policy.type }}#}
                    {#                </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                $('#policy_checkbox_switcher').change(function (e) {
                    $('.policy_checkbox').prop('checked', e.target.checked);
                });
            });
        </script>

        <div>
            <div class="form-inline">
                <button id="act_policies_btn" class="btn btn-default">{% trans 'Act selected to act № ' %}</button>
                <div class="form-group">
                    <select id="utilization_act_select" class="form-control" title="{% trans 'Utilization act' %}">
                    </select>
                </div>
                <div class="form-group pull-right">
                    {% blocktrans %}Total: &#8381;{{ total }}{% endblocktrans %}
                </div>
                <script>
                    var get_checked_policies = function () {
                        var policies_list = {};
                        var i = 0;
                        $.each($('#policies_table tbody tr input.policy_checkbox:checked'), function (idx, item) {
                            policies_list[i++] = $(item).parents('tr').data('policy-id');
                        });
                        console.log('Отмечены полисы: ' + policies_list);

                        return policies_list;
                    };

                    var utilization_act_select_change = function () {
                        $.fn.select2.defaults.set("theme", "bootstrap");
                        var acts_select = $("#utilization_act_select");
                        acts_select.select2({
                            {#                        width: null,#}
                            placeholder: "{% trans 'Select an option' %}",
                            allowClear: true,
                            width: 200,
                            ajax: {
                                url: "{% url 'api-utilization-acts-list' %}",
                                dataType: 'json',
                                delay: 250,
                                method: 'post',
                                data: function (params) {
                                    var res = {};
                                    res['act_id'] = params.term;

                                    return res;
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: data.data
                                    };
                                },
                                cache: true
                            },
                            {#                        escapeMarkup: function (markup) {#}
                            {#                            return markup;#}
                            {#                        },#}
                            {#                        minimumInputLength: 1,#}
                            templateResult: function (act) {
                                return act['id'];
                            },
                            templateSelection: function (act) {
                                return act['id'];
                            }
                        }).on('select2:select', function (evt) {
                            console.log('Выбран акт id ' + $(this).val());
                        });
                    };
                    var move_policies_to_utilization_acts = function (e) {
                        var url = '{% url 'api-utilization-act-edit' %}';
                        var act_id = $('#utilization_act_select').val();
                        var policies = get_checked_policies();
                        if ($.isEmptyObject(policies)) {
                            $.notify('Не выбраны полисы',
                                {
                                    className: 'error',
                                    clickToHide: true,
                                    autoHide: false,
                                    arrowShow: true
                                }
                            );
                            return;
                        }

                        var data = JSON.stringify({
                            'policies': policies,
                            'act_id': act_id
                        });

                        $.ajax({
                            url: url,
                            dataType: 'json',
                            data: data,
                            delay: 250,
                            type: 'POST',
                            cache: true
                        }).done(function (data) {
                            var className = 'error';
                            if ('ok' == data.status) {
                                className = 'success';
                            }
                            $.notify(data.message,
                                {
                                    className: className,
                                    clickToHide: true,
                                    autoHide: false,
                                    arrowShow: true
                                }
                            );
                        });
                    };

                    document.addEventListener('DOMContentLoaded', utilization_act_select_change);
                    document.addEventListener('DOMContentLoaded', function () {
                        $('#act_policies_btn').click(move_policies_to_utilization_acts);
                    });

                </script>
            </div>
        </div>

        {% include 'pagination.html' %}
    </div>
    <div class="col-md-3">
        <form method="get" class="form-horizontal">
{#            {% csrf_token %}#}
            {{ form.non_field_errors }}

            {% for field in form %}
                {% if not field.is_hidden %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <button type="submit"
                    class="btn btn-default">{% trans 'Make report' %}</button>

        </form>
    </div>
{% endblock %}
