{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">{{ object }}</div>

        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="font-weight: bold">
                <td>{% trans 'Field' %}</td>
                <td>{% trans 'Old value' %}</td>
                <td>{% trans 'New value' %}</td>
                <td>{% trans 'Editor' %}</td>
                <td>{% trans 'Date' %}</td>
            </tr>
            </thead>
            {% for log in logs %}
            <tr>
                <td>
                    {% trans log.field %}
                </td>
                <td>
                    {% if 'None' == log.value_old or None == log.value_old %}
                        {% trans '-absent-' %}
                    {% else %}
                        {{ log.value_old }}
                    {% endif %}
                </td>
                <td>
                    {% if 'None' == log.value_new or None == log.value_new %}
                        {% trans '-absent-' %}
                    {% else %}
                        {{ log.value_new }}
                    {% endif %}
                </td>
                <td>
                    {{ log.editor }}
                </td>
                <td>
                    {{ log.edited_at }}
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
