<html>
<head>
    <title>{{ title }}</title>
</head>
<body>

<table class="table" border="1pxs">
    <h2>{{ act_title }}</h2>
    {% for field in act.get_print_fields %}
        <tr>
            <th>
                {{ field.name }}
            </th>
            <td>
                {{ field.value }}
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
