{% load i18n %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block title %}
                {% trans 'Add act' %}
            {% endblock %}
        </h3>
    </div>
    <div class="panel-body">
        <form method="post">
            {% csrf_token %}

            {% if message %}
                <div class="bg-info">{{ message }}</div>
            {% endif %}
            {% for err, err_mess in policies_import_form.non_field_errors.iteritems %}
                {{ err_mess|escape }}
            {% endfor %}

            {% for field in policies_import_form %}
                {% if field.errors %}
                    <script>
                        {% for error in field.errors %}
                            document.addEventListener('DOMContentLoaded', function () {
                                $.notify('{{ error|escape }}',
                                    {
                                        clickToHide: true,
                                        autoHide: false,
                                        arrowShow: true
                                    }
                                );
                            });
                        {% endfor %}
                    </script>
                {% endif %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var recipientSelect = $('#id_recipient_select2');
                    var branchSelect = $('#id_branch');
                    var branch_changed = function (e) {
                        $.ajax({
                            url: "{% url 'api-recipients-list' %}",
                            dataType: 'json',
                            delay: 250,
                                data: {
                                    'branch_id': e.target.value
                                },
                            cache: true
                        }).done(function (data) {
                            recipientSelect
                                .find('option')
                                .remove()
                                .end();
                            var recipients = data['data'];
                            recipients.forEach(function (recipient) {
                                if (recipient['branch_id'] == branchSelect.val()) {
                                    var opt = "<option value=" + recipient['id'] + ">" +
                                        recipient['last_name'] + ' ' + recipient['first_name'] +
                                        "</option>";
                                    recipientSelect.append(opt);
                                }
                            });

                        });
                    };
                    branchSelect.change(function (e) {
                        branch_changed(e);
                    });
                    branchSelect.change();


                });
            </script>
            <button type="submit"
                    class="btn btn-default">{% trans 'Submit' %}</button>

        </form>
    </div>
</div>
