{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <table class="table table-bordered">
            {% for field in act.get_print_fields %}
                <tr>
                    <th>
                        {{ field.name }}
                    </th>
                    <td>
                        {{ field.value }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if btn %}
            <form method="post" action="{{ btn.url }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">{{ btn.title }}</button>
            </form>
        {% endif %}
        {% if perms.insurance_register_app.delete_policiesimportact %}
            <form method="post"
                  action="{% url 'policies_import:act:delete' act_id=act.id %}">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-default">{% trans 'Delete' %}</button>
            </form>
        {% endif %}
        {% if perms.insurance_register_app.import_policies_act_print %}
            <a target="_blank" role="button" class="btn btn-default"
               href="{% url 'policies_import:act:dispatch_print' act_id=act.id  %}">
                {% trans 'Dispatch print' %}
            </a>
        {% endif %}
        <a target="_blank" role="button" class="btn btn-default"
           href="{% url 'policies_import:act:accept_print' act_id=act.id  %}">
            {% trans 'Accept print' %}
        </a>
    </div>
{% endblock %}
