{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ form_title }}</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {% if similar_clients %}
                            <div><ol class="list-group">
                            {% for similar in similar_clients %}
                                {% if not similar == client %}
                                <li class="list-group-item list-group-item-danger">
                                    {% url 'clients:edit' client_id=similar.id as similar_url %}
                                    {% blocktrans trimmed %}
                                        Found similar client:
                                        <a href="{{ similar_url }}">
                                            {{ similar }}
                                        </a>
                                    {% endblocktrans %}
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ol></div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% for field in form %}
                            <tr>
                                {% if field.errors %}
                                    <ol>
                                        {% for error in field.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                                <th>
                                    {{ field.label_tag }}
                                </th>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <button type="submit"
                            class="btn btn-success">{% trans 'Submit' %}</button>
                    <a class="btn btn-danger" href="{% url 'clients:delete' client_id=client.pk %}">
                        {% trans 'Delete' %}
                    </a>
                </form>
            </div>
        </div>

        {% include 'clients/papers/list.html' with papers=client.papers.all %}
        {% include 'clients/insured/list.html' with insured=client.insured %}

    </div>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">{% trans 'Policies' %}</h3>
{#                <div class="btn-group pull-right">#}
{#                    <button type="button" class="btn btn-default"#}
{#                            data-toggle="modal" data-target="#myModal">#}
{#                        <i class="fa fa-plus" aria-hidden="true"></i>#}
{#                    </button>#}
{#                </div>#}
            </div>
            <div class="panel-body">
                {% include 'clients/policies/list.html' with policies=client.policies %}
            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{% trans 'Specify policy (series and/or number)' %}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <select class="form-control" id="policies-select">

                            </select>
                        </form>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var policies_select = "#policies-select";
                                $(policies_select).select2({
                                    ajax: {
                                        url: "{% url 'api-policies-list' %}",
                                        dataType: 'json',
                                        delay: 250,
                                        data: function (params) {
                                            var res = {};
                                            var term_parts = params.term.split(' ');
                                            if (term_parts.length > 1) {
                                                res['series__title'] = term_parts[0];
                                                res['number'] = term_parts[1];
                                            } else {
                                                res['number'] = term_parts[0];
                                            }

                                            return res;
                                        },
                                        processResults: function (data, params) {
                                            // parse the results into the format expected by Select2
                                            // since we are using custom formatting functions we do not need to
                                            // alter the remote JSON data, except to indicate that infinite
                                            // scrolling can be used
                                            return {
                                                results: data.data
                                            };
                                        },
                                        cache: true
                                    },
                                    escapeMarkup: function (markup) {
                                        return markup;
                                    }, // let our custom formatter work
                                    minimumInputLength: 1,
                                    templateResult: function (policy) {
                                        return [policy['series'], policy['number']].join(' - ');
                                    },
                                    templateSelection: function (policy) {
                                        return [policy['series'], policy['number']].join(' - ');
                                    }
                                }).on('select2:select', function (evt) {
                                    var url = '{% url 'policies:edit' policy_id=2128506 %}';
                                    url = url.replace(2128506, $(this).val()) + '?client_id={{ client.id }}';
                                    $('#issue_policy_btn').removeClass('disabled')
                                        .attr('href', url);
                                });
                            });
                        </script>
                    </div>
                    <div class="modal-footer">
{#                        <button type="button" class="btn btn-default disabled"#}
{#                                id="issue_policy_btn">#}
{#                            {% trans 'Issue' %}#}
{#                        </button>#}
                        <a href="" type="button" class="btn btn-default disabled"
                           id="issue_policy_btn">
                            {% trans 'Issue' %}
                        </a>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            {% trans 'Close' %}
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock %}
