{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <!-- Policies import history -->
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">{% trans 'Clients list' %}</h3>
{#                <button class="btn btn-default pull-right" type="submit">#}
{#                    <i class="fa fa-plus" aria-hidden="true"></i>#}
{#                </button>#}
{#                <a class="btn btn-default pull-right" href="{% url 'clients:add' %}">#}
{#                    <i class="fa fa-plus" aria-hidden="true"></i>#}
{#                </a>#}

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for type in client_types %}
                            <li>
                                <a href="{% url 'clients:add' client_type=type.0 %}">
                                    {{ type.1|capfirst }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr style="font-weight: bold">
                        <td>{% trans 'Full name' %}</td>
                        <td>{% trans 'Date of birth / Tax number' %}</td>
                        <td>{% trans 'Phone' %}</td>
                        <td>{% trans 'Type' %}</td>
                        <td>{% trans 'Comment' %}</td>
                    </tr>
                    </thead>
                    {% for client in clients %}
                        <tr>
                            <td>
                                <a href="{% url 'clients:edit' client_id=client.id %}">
                                    {{ client.full_name }}
                                </a>
                            </td>
                            <td>
                                {% if client.TYPE_PERSON == client.type %}
                                    {{ client.date_of_birth|default_if_none:'' }}
                                {% elif client.TYPE_ORGANIZATION == client.type %}
                                    {{ client.tax_number|default_if_none:'' }}
                                {% endif %}
                            </td>
                            <td>{{ client.phone|default_if_none:'' }}</td>
                            <td>{{ client.get_type_display }}</td>
                            <td>{{ client.comment }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <!-- Pagination -->
                {% include 'pagination.html' %}

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Filters' %}</h3>
            </div>
            <div class="panel-body">
                <form method="get">
                    {{ form.non_field_errors }}

                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-default">
                        {% trans 'Filter' %}
                    </button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
