{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">

    {% if user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url={% url 'index' %}">
    {% else %}
        <h1>{% trans 'Please, log in' %}</h1>
    {% endif %}

    <form method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                <input class="form-control"
                       id="{{ id_for_label }}"
                       name="{{ field.html_name }}"
                       type="{{ field.field.widget.input_type }}"
                       {% if field.value != None %}
                           value="{{ field.value }}"
                       {% endif %}
                       required>
            </div>
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
    </form>

    </div>
{% endblock %}
